h2 {
	margin: 0;
	font-size: 12pt;
	font-weight: bold;
}

p.auteur {
	text-align: left;
	font-style: italic;
}

.aanwinst {
	background-color: #FFFFFF;
    float: left;
	width: 500px;
	height: 210px;
	opacity: 0.85;
	margin-bottom: 3%;
	margin-right: 3%;
	margin-left: 3%;
	padding: 10px;
	box-shadow: 1px 1px 5px 1px #888888;
	border-radius: 5px;
}

section.txt {
	float: left;
	width: 70%;
}

section.img {
	float: left;
	width: 29%;
}